<div class="click-closed"></div>
<!--/ Nav Star /-->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="/user#"><span class="color-b">Trip</span>Planner</a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center w-100" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/user#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user#trips">Plan Trip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myticket">View Ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout<span class="fa fa-sign-in"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->
<section class="contact">
    <div class="container">
        <div class="row">
        <div class="col-sm-12">
            <div class="contact-map box">
            <div id="map" class="contact-map">
            </div>
            </div>
        </div>
        <div class="col-sm-12 section-t8">
            <div class="row">
            <div class="col-md-12">
                <div class = "col-md-12 text-center">
                    <span style = " font-size: x-large;">{{hotel.hotelName}} Booking Form</span>
                </div>
                <form class="form-a contactForm" action="" method="post" role="form">
                  <div class="row">
                  <div class="col-md-6 mb-3">
                        <div class="form-group justify-content-center" style = " font-size: x-large; padding-top: 7px;">
                        Enter the Check In Time :  
                  </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <select name = "checkIn" (change) = "validateCheckIn()" [(ngModel)] = "checkInTime"  style = "height: 56px; width: 100%; color: gray;">
                            <option *ngFor = "let time of checkIn" value="{{time}}">{{time}}</option>
                        </select>
                        <span style="color: red;">{{checkInError}}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group justify-content-center" style = " font-size: x-large;padding-top: 8px;">
                        Enter the Check Out Time :                     
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <select id = "checkOut" name = "checkOut" (change) = "validateCheckOut()" [(ngModel)] = "checkOutTime" style = "height: 56px; width: 100%; color: gray;" >
                            <option *ngFor = "let time of checkIn" value ="{{time}}">{{time}}</option>
                        </select>
                        <span style="color: red;">{{checkOutError}}</span>
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group justify-content-center" style = " font-size: x-large;padding-top: 8px;">
                        Number of rooms to be booked :                     
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <input name = "rooms" type="number" [(ngModel)]="rooms" style = "height: 56px; width: 100%; color: gray;" (focusout)= "validateRooms()">
                        <span style="color: red;">{{roomsError}}</span>
                      </div>
                    </div>
                    <div class="col-md-12">
                    <button type="button" class="btn btn-a" (click) = "book()">Book Hotel</button>
                    </div>
                </div>
                <br>
                  </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<!--/ footer Star /-->
<section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Contact Us</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                You can contact us in the following ways
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Email :</span> info@tripplanner.com</li>
                <li class="color-a">
                  <span class="color-text-a">Phone :</span> +91 99895 54235</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-dribbble" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">EstateAgency</span> All Rights Reserved.
            </p>
          </div>
          <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>
